.pinnedElement {}

.pinnedElement.scrollable {
    position: absolute;
}

.pinnedElement:selected {
    border-color: #44C0FF;
}

.pinnedElement > .mainContainer > #content > #header > #labelContainer {
    flex: 1 0 0;
    flex-direction: column;
    align-items: stretch;
}

.resizer {
    visibility: hidden;
}